@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');

:root {
  /* colors*/
  --body-color: #F1F1F3;
  --sidebar-color: #242B5E;
  --red-color: #D60A0B;
  --orange-color: #FFA002;
  --white-color: #E5E5E5;

  --sidebar-openWidth: 265px;
  --sidebar-openWidth: 110px;


}

* {
  font-family: 'Inter', sans-serif;
}

.contents {
  min-height: calc(100vh - 60px);
}

#nav-dropdown {
  color: #242B5E;
}

body {
  background-color: var(--body-color);
  height: 100%;
}
html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/*  side bar styles     */

.sidebar-controler button {

  background: none;
  border: none;

}

.sidebar-container {
  height: 100%;
  font-size: 1.2rem;
  overflow: auto;
}


.logo-container {
  position: sticky;
  display: flex;
  z-index: 999;
  top: 0;
  height: 60px;
  align-items: center;
  background-color: var(--red-color);
}

.logo {
  width: 40px;
  height: auto;
  border-radius: 10px;
  padding: 0px 5px;
  background-color: white;
}

.Sidebar div {
  width: auto;
  border-bottom: 1px solid #2D4F8E;

}

.Sidebar .collapse {
  background: #999999;
  /*#CCCCCC #999999 #800000 #000080)*/
}

#dropPresence div,
#dropFees div {
  border-bottom: none;
}

.Sidebar .a:hover {
  border-radius: 0px;
  background-color: #2D4F8E;
}

.Sidebar .a:focus {
  border-radius: 0px;
  background-color: #14238A;
}

.nav-item .active {
  background-color: #14238A;
}

.sidebar-container img:not(.logo) {
  width: 1.75rem;
  margin: 0 1rem;
  filter: invert(100%) sepia(0%) saturate(3231%) hue-rotate(232deg) brightness(78%) contrast(143%);
}

.Sidebar div {
  font-weight: 400;
  width: 100%;
  border-bottom: 2px solid #2D4F8E;
}


/* style search bar */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.search-input {
  width: 100%;
  max-width: 700px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
}

.search-input:focus {
  background: #9fa7e76a;
  color: white;
}

.search-button {
  border: none;
  background-color: transparent;
  margin-left: 0px;
  padding: 0;
  font-size: 20px;
}

:not(.btn-check)+.btn:active {
  outline: none;
  background-color: transparent;
}

.search-button:hover {
  background: transparent;
}

.btn .searchIcon {
  height: 30px;
  width: 30px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(95%) saturate(2018%) hue-rotate(342deg) brightness(81%) contrast(102%);

}

/******************/

/*  Top bar styles*/




.Topbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(147, 147, 147);
  height: 4rem;
}

.OpenCloseBtn {
  background: none;
  border: none;
  margin-left: 10px;
}

.OpenCloseBtn2:hover {
  background-color: rgba(198, 255, 220, 0.2);
  border-radius: 30%;
}

.OpenCloseBtn2 {
  background: none;
  border: none;

}

.OpenCloseBtn2 svg {
  color: var(--red-color);
  font-size: 25px;
}

.OpenCloseBtn svg {
  color: var(--red-color);
  font-size: 25px;
}

.profile-section a img :not(.pPhoto) {
  height: 25px;
  width: 25px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(95%) saturate(2018%) hue-rotate(342deg) brightness(81%) contrast(102%);

}

.profile-photoContainer {
  height: 50px;
  border-left: 2px solid #D60A0B;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.pPhoto {
  width: 40px;
  border-radius: 50%;
}

.profile-section {
  display: flex;
  align-items: center;


}

.profile-section a {
  margin-right: 15px;

}

.pPhoto::before {
  content: url("");
  background-color: #D60A0B;
  width: 2px;
  height: 40px;

}

.sidebar-controler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-arrow {
  transform: rotate(180deg);
  margin-left: 7px;

}

.right-arrow,
.left-arrow {
  width: 25px;
}

.sidebar-controler img:hover {
  cursor: pointer;
  filter: invert(23%) sepia(57%) saturate(2658%) hue-rotate(343deg) brightness(74%) contrast(100%);
}


/* photo profile (Avatar) test ayman*/
.FormContainer {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
}

.EditAvatar {
  margin-left: 25px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.student-add input,.student-add select, 
.addTeacher input , .addTeacher select ,
 .editTeacher input,.editTeacher select,
 .addSchedule input,.addSchedule select,
 .editSchedule input,.editSchedule select{
  background-color: rgba(221, 222, 238, 0.5);
}